[Bb]in/
[Oo]bj/
[Tt]est[Rr]esult*
[Tt]ests
packages
[Aa]rtifacts
builds46
nuget
.fake 

*.suo
*.user
*.sln.docstates
.idea
.iml
.vs

[Dd]ebug/
[Rr]elease/
x64/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
.builds
*.iml

/IctBaden.RevolutionPi/*.DotSettings
